@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer utilities {
	.truncate-two-lines {
		display: -webkit-box;
		-webkit-box-orient: vertical;
		/* to specify the number of lines you want the text to run through... */
		-webkit-line-clamp: 2;
		/* hide the overflowing text, i.e, texts that did not fit in to the box */
		overflow: hidden;
	}

	.background-black-opacity-70 {
		background-color: rgba(0,0,0,0.7);
	}
}